
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pageInfo {
    margin: 0 10px;
    font-size: 16px;
}

.pageButton {
    margin: 0 5px;
}