.home {
    text-align: center; /* center our content */
    padding: 20px;
}

.title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.info {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}
.welcomeMessage{
    font-size: 1rem;
    margin-top: 2rem;
}