# Ignore node_modules directory
node_modules

# Ignore logs
logs
*.log

# Ignore environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Ignore Firebase private key
firebase-private-key.json
serviceAccountKey.json

# Ignore build output
build/
dist/
.cache/
.parcel-cache/
.next/
out/
.nuxt/
.docusaurus/

# Ignore other cache and temporary files
.npm
.eslintcache
.stylelintcache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.node_repl_history
.pnp.*
.yarn-integrity
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnpm-debug.log*