
.navbar {
    background-color: #333;
    color: white;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}

.navList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navList li {
    margin-left: 1.5rem;
}

.navList a {
    color: white;
    text-decoration: none;
    transition: color 0.2s ease;
    display: block;
    padding: 0.5rem 0;
}

.navList a:hover {
    color: #ddd;
}

.logoutButton {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.logoutButton:hover{
    background-color: #c9302c
}
.activeLink{
    font-weight: bold;
    color: #90d1ff;
}